{% extends "../base.html" %}
{% load cart_tools %}
<!--head info for this page.-->
{% block head_title %}
Cart ({{item_count}})
{% endblock %}
{% block content_header %}
<h1 class="py-5">Checkout</h1>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
      <div class="col-md-4 order-md-2 mb-4">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-muted">Your cart</span>
          <span class="badge badge-secondary badge-pill">{{item_count}}</span>
        </h4>
        <ul class="list-group mb-3">
            {% for item in cart_items %}
          <li class="list-group-item container-fluid lh-condensed">
            <div class="float-left text-left">
                <a href="#">
                    <h6 class="my-0 fl text-capitalize">
                        <strong>{{ item.product.name }}</strong>
                    </h6>
                </a>
              <small class="text-muted">QTY: {{ item.quantity }} @ {{item.product.price}} each </small>
            </div>
            <span class="text-muted float-right">{{ item.product.price }}</span>
          </li>
          {% endfor %}
          <li class="list-group-item d-flex justify-content-between">
            <span>Total: <small class="text-muted">(inc VAT)</small></span>
            <strong>£
                {% if total %}
                    {{ total|floatformat:2 }}
                {% else %}
                    0.00
                {% endif %}
            </strong>
          </li>
        </ul>

        <form class="card p-2">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Promo code">
            <div class="input-group-append">
              <button type="submit" class="btn btn-secondary">Redeem</button>
            </div>
          </div>
        </form>
      </div>

          <hr class="mb-4">
          <a href="{% url 'checkout' %}" class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</a>
        </form>
      </div>
    </div>
  </div>

  {% endblock %}