{% extends "../base.html" %}
{% load static %}


{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
{% endblock %}
<!--head info for this page.-->
{% block head_title %}
{{user.username}}'s Profile
{% endblock %}
{% block content_header %}
<h1 class="py-2 text-center">Customer Profile</h1>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        
    </div>
</div>
{% endblock %}
{% block postload_js %}
    <script src="{% static 'profiles/js/profiles.js' %}"></script>
{% endblock %}