{% extends "../base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}
<!--.-->
{% block head_title %}
Order Complete!
{% endblock %}
{% block content_header %}
<h1 class="py-2 text-center">Order Complete!</h1>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12 text-center bold mb-4">
                    Order Information
                </div>
            </div>
            <!-- Display order number/ID -->
            <div class="row">
                <div class="col-12 col-lg-4">
                    <p>Order Number</p>
                </div>
                <div class="col-12 col-lg-8 float-right">
                    <p class="font-weight-bold">{{ order.order_number}}</p>
                </div>
            </div>
            <!-- Display order date.-->
            <div class="row">
                <div class="col-12 col-lg-4">
                    <p>Order Date</p>
                </div>
                <div class="col-12 col-lg-8 float-right">
                    <p class="font-weight-bold">{{ order.date}}</p>
                </div>
            </div>
            <!--Display Delivery info.-->
            <div class="row">
                <div class="col-12 col-lg-4">
                    <p>Delivering to:</p>
                </div>
                <div class="col-12 col-lg-8 float-right">
                    <div class="row font-weight-bold">
                        <div class="col-12 float-right">
                        {{ order.full_name }}
                        </div>
                    </div>
                    <div class="row font-weight-bold">
                        <div class="col-12 float-right">
                        {{ order.house_name }}
                        </div>
                    </div>
                    <div class="row font-weight-bold">
                        <div class="col-12 float-right">
                        {{ order.street_address_1 }}
                        </div>
                    </div>
                    {% if order.street_address_2 %}
                    <div class="row font-weight-bold">
                        <div class="col-12 float-right">
                        {{ order.street_address_2 }}
                        </div>
                    </div>
                    {% endif %}
                    <div class="row font-weight-bold">
                        <div class="col-12 float-right">
                        {{ order.city }}
                        </div>
                    </div>
                    <div class="row font-weight-bold">
                        <div class="col-12 float-right">
                        {{ order.post_code }}
                        </div>
                    </div>
                    <div class="row font-weight-bold">
                        <div class="col-12 float-right">
                        {{ order.country }}
                        </div>
                    </div>
                </div>
            </div>
            <hr class="w-100">
            <!-- Return user back to products. -->
            <div class="row">
                <div class="col-12 text-center">
                    <a class="btn btn-info bold" href="{% url 'products' %}">Continue Shopping</a>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}