/* google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,600;0,700;1,400&display=swap');

/*--------------------- colour variables */
:root {
    --raisin-black: #272727ff;
    --old-gold: #b3a400ff;
    --ivory: #f1f7e6ff;
    --viridian-green: #21a0a0ff;
    --skobeloff: #046865ff;
}

*{
    font-family: 'Lora', serif;
}

body{
    background: var(--ivory);
    height:100vh;
    padding-bottom: 80px;
}

.text-green{
    color: var(--viridian-green);
}
.text-light{
    color: var(--ivory)!important;
}
.text-dark{
    color: var(--raisin-black)!important;
}

.bg-dark{
    background-color: var(--viridian-green)!important;
}
.bg-gold{
    background-color: var(--old-gold);
}
.btn-info{
    background-color:  var(--viridian-green)!important;
}

.btn-outline-warning{
    border-color: var(--old-gold)!important;
    font-weight: 400;
}
.btn-outline-warning:hover{
    background-color: var(--ivory)!important;
    color: var(--raisin-black)!important;
    font-weight:400;
}
.items-qty{
    padding: 2px;
    font-size: .75em;
    color: var(--raisin-black);
    top:0;
    position: relative;
}


.navbar-toggler{
    border-color: var(--ivory)!important;
}
/* Product List view, item card styling */
.card {
    border: none;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .2);
    border-radius: 5px;
}