{% extends 'base.html' %}
{% load static %}
{% block content_header %}
<h1 class="py-2 text-center">ERROR 404: The page you are looking for isn't available</h1>
{% endblock %}
{% block content %}
    <div class="container h-100">
        <div class="row ">
            <div class="col-12 col-lg-6 mx-auto text-center">
                <div class="my-5">
                    <h4>
                        <a href="{% url 'products' %}" 
                            class="btn btn-info">
                                Go Shopping!
                        </a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}