{% extends "../base.html" %}
{% block head_title %}
EDIT: {{product.name}}
{% endblock %}
{% block content_header %}
<h1>EDIT: {{product.name}}</h1>
{% endblock %}
{% block content %}
<div class="form-group">
    {% if user.is_authenticated %}
        <form class="new-post-form" method="post" enctype='multipart/form-data'>
            {% csrf_token %}
            {{ form.media}}
            {{ form.as_p }}
            <button class="btn btn-info"type="submit">Confirm Edit</button>
        </form>
    {% endif %}
</div>
{% endblock %}