{% extends "../base.html" %}
{% block head_title %}
Our Wines
{% endblock %}

{% block content_header %}
<h1 class="py-2 text-center">Our Wines</h1>
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="product-container col-12">
            <div class="row mt-1"></div>
            <div class="row justify-content-center">
                {% for product in object_list %}
                <div class="card mt-5 col-sm-6 col-md-6 col-lg-4 col-xl-3 mx-1">
                    {% if product.image %}
                    <a href="{% url 'product_detail' product.pk %}">
                        <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                    </a>
                    {% else %}
                    <a href="{% url 'product_detail' product.pk %}">
                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}, Image not available.">
                    </a>
                    {% endif %}
                    <div class="card-body text-center mx-auto">
                        <div class='cvp'>
                            <h5 class="card-title font-weight-bold">{{ product.name }}</h5>
                            <p class="card-text">£{{ product.price }}</p>
                            <a href="{% url 'product_detail' product.pk %}" class="btn btn-info m-1 btn-info text-light px-auto">View Product</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}