{% extends "../base.html" %}
{% block head_title %}
Delete: {{ product.name }}
{% endblock %}
{% block content_header %}
<h1 class="text-center py-2">DELETE: {{product.name}}</h1>
{% endblock %}
{% block content %}
<div class="container py-5">
    <!--Prompt the user for confirmation when deleting post entry-->
    <div class="row">
        <div class="col-12">
            <form method="POST" action=".">
                {% csrf_token %}
                <h4 class="text-center mb-4">Are you sure you want to delete: <strong>{{ product.name }}</strong></h4>
                <p class="text-center"><input class="btn btn-info" type="submit" value="Yes" /> <a class="btn btn-danger" href="{% url 'products' %}">Return to Products</a></p>
            </form>
        </div>
    </div>
</div>
{%endblock%}